/* ==UserStyle==
name         Suckless.org
description  Dark suckless theme.
author       arieboven
homepageURL  https://github.com/arieboven/suckless-dark
==/UserStyle== */

body {
	background-color: #222 !important;
	color: #eee !important;
}

a {
	color: #27a !important;
}

a:hover {
	color: #057 !important;
}

#nav {
	border-right: 1px dotted #444 !important;
}

#nav a {
	color: #27a !important;
}

#nav a:hover {
	background-color: #444 !important;
	color: #69b !important;
}

#menu {
	border: none !important;
	margin: 0 10px 0 10px;
}

#menu a {
	color: #eee !important;
}

#header {
	background-color: #222 !important;
}

#headerLink {
	color: #17a !important;
}

#headerSubtitle {
	color: #ddd !important;
}

.desc {
	color: #ddd !important;
}

#branches tr:hover td,
#tags tr:hover td,
#index tr:hover td,
#log tr:hover td,
#files tr:hover td {
	background-color: #444 !important;
}

#branches tr a:hover,
#tags tr a:hover,
#index tr a:hover,
#log tr a:hover,
#files tr a:hover {
	color: #69b !important;
}

.A, span.i, pre a.i {
	color: #070 !important;
}

.D, span.d, pre a.d {
	color: #900 !important;
}

#main img {
	padding: 2px;
	background-color: #eee;
}

#blob a {
	color: #777 !important;
}

#blob a:hover {
	color: #057 !important;
}
